body{
    padding: 0;
    margin: 0;

}
.mySlides img{
    width:640px;
    height:400px;
}
.slide img{
    width:640px;
    height: 300px;
}
.head{
    margin-top: 0%;
    background-color: rgb(227, 174, 0);
}
.cont{
    display: flex;
    justify-content: center;
}
.cont img{
    width: 70px;
    padding: 5px;
}
.cont h2{
    padding-right: 10px;
    color: white;
    font-style:italic;
    color: rgb(24, 119, 214);
}
.cont ul{
    list-style-type:none;
    padding-left: 890px;
}
.cont ul li{
    display: inline-block;
    padding: 10px 10px;
    border-left: 20px;
}
.cont ul li:hover{
    background-color:rgb(245, 202, 59);;
    color: rgb(24, 119, 214);
    border-radius: 5px;
    transition: 0.2s;
}
.card>img{
    width: 160px;
    height: 200px;
    border-radius: 12px;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card>h4{
    color: rgb(25, 120, 223);
}
.card>p{
    color: rgb(177, 171, 171);
}
.card>p:hover{
    color: rgb(255, 248, 248);
    transition: 0.3s;
}
.card{
    width:200px;
    padding: 20px;
}
.card:hover{
    background-color:rgba(0,0, 0, 0.5);
    transition: 0.4s;
    border-radius: 5px;
}
.footer ul li{
    list-style-type:disc;
    font-size: 12px;
    color: white;
}
.footer li{
    padding: 10px;
}
.footer{
    display: flex;
    background-color: rgb(34, 33, 33);
}
.one{
    padding: 10px 20px;
}
.two{
    padding: 10px 70px;
}